@model ProySistemaColegio.Models.EstudianteModel

@{
    ViewData["Title"] = "ActualizarEstudiante";
}

<div class="d-flex justify-content-between">
    <h1>Editar estudiante</h1>
    <a asp-action="ConsultarListadoAlumnos" class="btn btn-light" id="btn-regresar-listado">Regresar al listado</a>
</div>
<hr />
<div class="form-group row">
    <div>
        <form asp-action="ActualizarEstudiante">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="est_cod" class="control-label"></label>
                    <input asp-for="est_cod" class="form-control" />
                    <span asp-validation-for="est_cod" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="est_nom" class="col-form-label col-form-label-sm mt-4"></label>
                    <input asp-for="est_nom" class="form-control form-control-sm" />
                    <span asp-validation-for="est_nom" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="est_apePat" class="col-form-label col-form-label-sm mt-4"></label>
                    <input asp-for="est_apePat" class="form-control form-control-sm" />
                    <span asp-validation-for="est_apePat" class="text-danger"></span>
                 </div>
                 <div class="form-group col-md-3">
                    <label asp-for="est_apeMat" class="col-form-label col-form-label-sm mt-4"></label>
                    <input asp-for="est_apeMat" class="form-control form-control-sm" />
                    <span asp-validation-for="est_apeMat" class="text-danger"></span>
                 </div>
                <div class="form-group col-md-3">
                    <label asp-for="est_fechNac" class="col-form-label col-form-label-sm mt-4"></label>
                    <input asp-for="est_fechNac" class="form-control form-control-sm" />
                    <span asp-validation-for="est_fechNac" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="dis_cod" class="col-form-label col-form-label-sm mt-4"></label>
                    @Html.DropDownList("dis_cod", (SelectList)ViewBag.DISTRITOS,
                      "Seleccione", new {@class = "form-select form-select-sm"})
                    <span asp-validation-for="dis_cod" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="dirPre_cod" class="col-form-label col-form-label-sm mt-4"></label>
                    @Html.DropDownList("dirPre_cod", (SelectList)ViewBag.DIRPREFIJOS,
                      "Seleccione", new {@class = "form-select form-select-sm"})
                    <span asp-validation-for="dirPre_cod" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="est_dir" class="col-form-label col-form-label-sm mt-4"></label>
                    <input asp-for="est_dir" class="form-control form-control-sm" />
                    <span asp-validation-for="est_dir" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="est_tel" class="col-form-label col-form-label-sm mt-4"></label>
                    <input asp-for="est_tel" class="form-control form-control-sm" />
                    <span asp-validation-for="est_tel" class="text-danger"></span>
                </div>
            </div>     
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="gen_cod" class="col-form-label col-form-label-sm mt-4"></label>
                    @Html.DropDownList("gen_cod", (SelectList)ViewBag.GENEROS,
                      "Seleccione", new {@class = "form-select form-select-sm"})
                    <span asp-validation-for="gen_cod" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="tipDoc_cod" class="col-form-label col-form-label-sm mt-4"></label>
                    @Html.DropDownList("tipDoc_cod", (SelectList)ViewBag.TIPODOCS,
                      "Seleccione", new {@class = "form-select form-select-sm"})
                    <span asp-validation-for="tipDoc_cod" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="est_docN" class="col-form-label col-form-label-sm mt-4"></label>
                    <input asp-for="est_docN" class="form-control form-control-sm" />
                    <span asp-validation-for="est_docN" class="text-danger"></span>
                </div>
            </div> 
            <div class="form-group d-flex justify-content-center" id="btn-registrar-curso">
                <input type="submit" value="Grabar" class="btn btn-primary btn-lg" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
